17[[:space:]]2004年大众桑塔纳3000维修手册.rar filter=lfs diff=lfs merge=lfs -text
52[[:space:]]桑塔纳2000桑塔纳电气系统使用与维修（修订版）.rar filter=lfs diff=lfs merge=lfs -text
101[[:space:]]桑塔纳2000结构与维修[[:space:]]共12章.rar filter=lfs diff=lfs merge=lfs -text
58[[:space:]]桑塔纳世纪新秀-99新秀-LX轿车维修手册.rar filter=lfs diff=lfs merge=lfs -text
15[[:space:]]大众桑塔纳2000维修手册、电路图（集合）.rar filter=lfs diff=lfs merge=lfs -text
